*.pyc
*.pyo
*.so
*~
.#*
*.swp
*.lprof
*.npy
*.zip
*.tar.*
*.egg*
*.tmproj
*.png
.DS_Store
build
coverage

dist/
doc/_build/
doc/build/
doc/auto_examples/
doc/modules/generated/
doc/source/generated/
pip-log.txt
.coverage
tags
doc/coverages
doc/samples

